  h2 {
    display: flex;
    justify-content: center;
  }

.header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 150px;
  overflow: hidden;
}

.news {
  position: absolute;
  overflow: auto;
  top: 150px;
  bottom: 80px;
  left: 0px;
  right: 0px;
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 80px;
  overflow: hidden;
}
